{
	box-sizing: border-box;
}

/* Page */
body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    /* Footer rules */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    /*height: 500px;*/
    padding-bottom: 100px;
}

.header {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-right: 10px;
}

.header-text {
    font-family: 'Lobster', cursive;
    color: white;
    padding-right: 10px;
}

.jumbotron {
    text-align: right;
    background-color: #F57921;
}

.start-img {
    max-width: 100%;
    height: auto;
}

.footer, a {
     background-color: #F57921;
     color: white;
     padding-top: 10px;
     margin-top: 0:
}

/* Buttons */
.btn {
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #CCC2C7;
    border: #fff 4px solid;
    background-color: transparent;
}

.btn:hover {
    color: #F57921;
}

/*Questions*/
#questionSpace {
    color: solid;
    /*margin-top: 40px;
    padding: 5px;
    width: 1000px;
    height: 500px;*/
}

#question {
    font-size: 20px;
}

/*Timer*/
#timer {
    color: #e74c3c;
    font-size: 40px;
}

/* Answers */
#choices {
    font-size: 23px;
}

.pickAnswer {
    border: solid 5px #fff;
}

.pickAnswer, .pickAnswer:hover {
    display: block;
    margin: 20px 0;
    padding: 5px;
    border-radius: 6px;
}

.pickAnswer:hover {
    border: solid 5px #F57921;
    cursor: pointer;
}

#buttonRow {
    margin-top: 130px;
}

#imgFinal {
    max-width: 100%;
    height: auto;
}